{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static './img/kokek_ico.png' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static './css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{% block title %}{% endblock %}</title>
</head>
<body style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url({% static './img/banner.png' %}); background-size: cover; background-attachment: fixed; background-position: center;">
<header class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" style="background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));">
    <div class="container">
        <a class="navbar-brand" href="{% url 'homePage' %}"><img src="{% static './img/kokek.png' %}" height="40px" id="logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'allMovies' %}">Все фильмы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'topMovies' %}">Топ фильмов</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logoutUser' %}">{{ user.username }} Выйти из аккаунта</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'SignUpPage' %}">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'loginPage' %}">Войти</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>

{% block content %}{% endblock %}

<script src="{% static './js/jquery.min.js' %}"></script>
<script src="{% static './js/owl.carousel.min.js' %}"></script>
<script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static './js/script.js' %}"></script>
</body>
</html>